@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
    }
    /* ... */
    .btn {
        @apply text-white rounded-lg px-5 py-2;
    }
    .circle {
        @apply h-12 w-12 rounded-full bg-amber-50;
    }
}
